<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.CardGame" >
        <activity
            android:name=".TileBackground"
            android:exported="false" />
        <activity
            android:name=".CardView"
            android:exported="false" />
        <activity
            android:name=".War"
            android:exported="false" />
        <activity
            android:name=".BlackJack"
            android:exported="false" />
        <activity
            android:name=".Thirteen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>